<h1>Component</h1>
<p>
  Media:
  <%= render :partial => "media", :locals => {:component => @component} %>
</p>
<p>Description: <%= @component.description %></p>
<p>Component Type: <%= @component.component_type.capitalize %></p>
<p><%= link_to "Show", component_url(@component) %></p>
<p><%= link_to "Edit", edit_component_url(@component) %></p>
<p><%= link_to "Delete", component_url(@component), :method => :delete, :confirm => "Are you sure you want to delete #{@component.description}?" %></p>
<p><%= link_to "All components", components_url %></p>
