<% unless @components.blank? %>
  <h2>Add Component</h2>
  <div class="data paalTable">
    <table class="txtL">
      <thead>
        <tr>
          <th scope="col">Media</th>
          <th scope="col">Description</th>
          <th scope="col">Component Type</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <% @components.each do |component|%>
          <% unless @task.components.include?(component) %>
            <tr>
              <td><%= render :partial => "components/media", :locals => {:component => component} %></td>
              <td><%= component.description %></td>
              <td><%= component.component_type.capitalize %></td>
              <td class="txtC">
                <%= form_for @task.task_components.new(:component => component), :url => task_task_components_url(@task) do |f| %>
                  <%= f.hidden_field :task_id %>
                  <%= f.hidden_field :component_id %>
                  <%= f.submit "Add #{component.component_type.capitalize}" %>
                <% end %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
