<%= form_for @task, :html => {:class => "uniForm"} do |f| %>
  <% if @task.errors.any? %>
    <div id="errorExplanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>
      <ul>
        <% @task.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <fieldset class="inlineLabels">
    <div class="ctrlHolder">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
  
    <% if @task.task_type.present? %>
      <%= f.hidden_field :task_type %>
    <% else %>
      <div class="ctrlHolder">
        <%= f.label :task_type %>
        <%= f.select :task_type, Task.task_types.collect {|task_type| [task_type.capitalize, task_type]} %>
      </div>
    <% end %>

    <div class="buttonHolder">
      <%= f.submit submit_default_value(@task), :class => "primaryAction" %>
    </div>
  </fieldset>
<% end %>
