<h1>Edit <%= (@task.task_type || I18n.t(:task)).capitalize %></h1>
<%= render "form" %>

<% if @task.can_have_components? %>
  <%= render "update_component_form" %>
  <%= render "add_component_form" %>
<% end %>

<% if @task.can_have_subtasks? %>
  <%= render "update_subtask_form" %>
  <%= render "add_subtask_form" %>
<% end %>

<%= render "new_task_links" %>
