<h1><%= @task_type.capitalize.pluralize %></h1>
<div class="data paalTable">
  <table class="txtL">
    <thead>
      <tr>
        <th class="<%= @title_width %> noLinks" scope="col">Title</th>
        <% if @task_type == "task" %>
          <th class="<%= @title_width %> noLinks" scope="col">Task Type</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @tasks.each do |task| %>
        <tr>
          <td class="<%= @title_width %> noLinks"><%= link_to task.title, edit_task_url(task) %></td>
          <% if @task_type == "task" %>
            <td class="<%= @title_width %> noLinks"><%= task.task_type.capitalize %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= render "new_task_links" %>
