<!DOCTYPE html>
<html>
  <head>
    <title>PAAL Web App</title>
    <%= stylesheet_link_tag :defaults %>
    <!--[if lte IE 6]>
    <%= stylesheet_link_tag 'ie6' %>
    <![endif]-->
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
    <%= yield :html_head %>
  </head>
  <body>
    <div class="page">
      <div class="head">
        <h1>PAAL Web App</h1>
        <% flash.each do |key, value| %>
          <div class="flash <%= key %>"><%= value %></div>
        <% end %>
        <%= yield :head %>
      </div>
      <div class="body">
        <div class="leftCol">
          <%= yield :leftCol %>
        </div>
        <div class="rightCol">
          <%= yield :rightCol %>
        </div>
        <div class="main">
          <%= yield %>
        </div>
      </div>
      <div class="foot">
        <%= yield :foot %>
        <p>&copy; 2011 GTAB, Inc.</p>
      </div>
    </div>
  </body>
</html>
